{% extends 'base.html' %}

{% block title %}Models{% endblock %}

{% block content %}

<h1>Welcome to LcoptView</h1>

<p>Choose a model below</p>
<p>Or use the UPLOAD MODEL button above to upload a .lcoptview file</p>

<div id="items" class="container">
    <h2>Models</h2>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>filename</th>
        <th></th>
      </tr>
      {%- for model in args %}
      <tr>
        <td>{{ model.id }}</td>
        <td>{{ model.filename }}</td>
        <td><a href="/set_model/{{model.filename}}" class="btn btn-default btn-xs">Activate</a></td>
      </tr>
      {%- endfor %}
    </table>
 
</div>

{% endblock %}